/* 
  -----------------------------------
  TabBar Magic Style Sheet
  by Project Seven Development
  www.projectseven.com
  Style Theme:08 - Pure Center
  -----------------------------------
*/
#p7TBM {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#p7TBMroot {
	font-size: 12px;
	margin: 0 0 6px 0;
}
#p7TBMrootbox {
	background-color: #A38F07;
	border: solid 1px #333;
}
#p7TBMroot img {
	border: 0;
}
#p7TBMroot ul {
	text-align: left;
	margin: 0;
	padding: 5px 0 5px 0;
}
#p7TBMroot li {
	list-style-type: none;
	display: inline;
}
#p7TBMroot li a {
	border-right: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
}
#p7TBMroot .p7TBMtext li a {
	padding: 5px 10px 5px 10px;
	color: #333333;
	text-decoration: none;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
}
#p7TBMroot .p7TBMtext .p7TBMdown, #p7TBMroot .p7TBMtext .p7TBMdown:hover {
	color: #333333!important;
	background-color: #FFFFFF !important;
	font-weight: bold;
	border-color: #FFFFFF !important;
}
/*
The Root Level Hover. This also locks the Hover state while 
the root item's associated sub-menu is visible.
DO NOT CHANGE SELECTOR NAMES*/
.p7ie6Fix:active, 
#p7TBMroot .p7TBMtext .p7TBMon,
#p7TBMroot .p7TBMtext li a:focus, 
#p7TBMroot .p7TBMtext li a:active {
	color: #333333;
	background-color: #ECE9D8;
	border-color: #333333;
}
#p7TBMsubwrap{
	font-size: .75em;
	position: relative;
	height: auto;
}
.p7TBMsub {
	position: absolute;
	visibility:hidden;
	left: 0;
	top: 0;
	width: 100%;
	text-align: left;
}
.p7TBMsubbox {}
.p7TBMsub ul {
	text-align: left;
	margin: 0;
	padding: 5px 0 5px 0;
	background-image: url(img/iebfix.gif);
	background-color: transparent;
	border: 0;
}
.p7TBMsub li {
	list-style-type: none;
	display: inline;
	margin: 0 3px 0 0;
	line-height: 2.5em;
}
.p7TBMsub li a {
	padding: 5px 6px;
	color: #333333;
	border: 1px solid #333333;
}
.p7TBMsub li a:hover,
.p7TBMsub li a:active,
.p7TBMsub li a:focus {
	color: #333333;
	background-color: #ECE9D8;
	text-decoration: none;
}
#p7TBM br {
	display: none !important;
}
/* current marker style */
#p7TBM .p7TBMmark,
.p7TBMsub .p7TBMmark:hover,
.p7TBMsub .p7TBMmark:active,
.p7TBMsub .p7TBMmark:focus {
	text-decoration: underline;
	font-weight: bold;
	color: #C0B9A3;
	cursor: default;
	background-color: #333333;
}
s
